{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main style="padding: 2%">
        <section class="text-center text-lg-start" id="delete">
            <div class="container">
                <p>
                <h1 style="
            color: crimson;
            display: inline-block;
                ">Are you sure you want to delete Company: </h1>
                <h1 style="
            color: #007bff;
            display: inline-block;"> &nbsp;{{ company.short_company_name }}</h1>
                <h1 style="
            color: crimson;
            display: inline-block;">?</h1>
                </p>
                <p>&nbsp;</p>
                <form class="delete-form" action="{% url 'delete company' slug=company.slug %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block mb-4 btn btn-danger" type="submit">
                        Delete Company
                    </button>
                </form>
            </div>
        </section>
    </main>

{% endblock %}

