{% extends 'base.html' %}
{% load forms %}
{% load static %}
{% block content %}
    <main style="padding: 2%">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-5 col-md-6">
                </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-6">
                    <p> &nbsp;</p>
                    <h2 class="fw-bold mb-5" style="text-align: left">Training Details</h2>
                    {% if training.service_image is not None %}
                        <div class="colM"
                             style="text-align: left;
                             width: 90%;
                             height: 70%;">
                            <img src="{{ training.service_image }}" class="w-100 rounded-4 shadow-4"
                                 alt="login screen"/>
                            <p></p>
                            <p><strong>Training: </strong> {{ booking.booking_type }}</p>
                            <p><strong>Training info: </strong> {{ training.service_description }}</p>
                        </div>
                    {% endif %}

                </div>
                <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
                    <div class="card cascading-left" style="
                            background: hsla(0, 0%, 100%, 0.55);
                            backdrop-filter: blur(30px);
                            {#padding-top: 30%;#}
                            ">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Booking details</h2>

                            <input type="hidden" value="{{ next }}" name="next"/>
                            {% csrf_token %}
                            <div class="form-outline mb-4" style="text-align: left;">
                                {{ profile.first_name.field.verbose_name }}

                                <p><strong>First Name: </strong> {{ profile.first_name }}</p>
                                <p><strong>Last Name: </strong> {{ profile.last_name }}</p>
                                <p><strong>Date and Time: </strong> {{ booking.start_date }}, {{ booking.start_time }}
                                </p>
                                <p><strong>Phone: </strong> {{ booking.phone }}</p>
                                <p><strong>Company: </strong> {{ company.short_company_name }}</p>
                                <p><strong>Company email: </strong> {{ profile.user }}</p>
                                <p><strong>Private email: </strong> {{ booking.private_email }}</p>
                                <p><strong>Mode: </strong> {{ booking.training_mode }}</p>
                                <p><strong>Lector: </strong> {{ booking.lector }}</p>
                                <p><strong>Lector's email: </strong> {{ lector.email }}</p>
                                <p><strong>Lector's phone: </strong> {{ lector.phone }}</p>
                                <p><strong>Notes: </strong> {{ booking.notes }}</p>
                                <p><strong>Scheduled on: </strong> {{ booking.date_scheduled }}</p>
                                <p><strong>Preferred platform: </strong> {{ booking.preferred_platforms }}</p>
                            </div>

                            {% if not booking.start_date <= current_date %}
                                <!-- Delete Profile Button -->
                                <a href="{% url 'delete booking' pk=object.pk %}" class="btn btn-danger">Delete
                                    Booking</a>

                                <!-- Edit Profile Button -->
                                <a href="{% url 'edit booking' pk=object.pk %}" class="btn btn-primary">Edit Booking</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}