{% load static %}
{#{% load navbar_tags %}#}
{% if user.is_authenticated %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'add booking' %}">Add Booking</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard' pk=request.user.pk %}">My Bookings</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        CoachMe
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lectors' %}">Lectors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'trainings' %}">Trainings</a>
        </li>
    </ul>
</li>
<!-- for logged users // lector pages-->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        {{ user.email }}
        <img class="user-uni-pic" id="user-uni-img"
             src="{% static '/images/profile-blue-default.webp' %}"
             alt="user-uni-pic"
             style="width:20px"/>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'details lector' pk=request.user.pk %}">Lector's
                Profile
                details</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'edit lector' pk=request.user.pk %}">Lector's
                Edit
                profile</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'delete lector' pk=request.user.pk %}">Lector's
                Delete
                profile</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'logout_user' %}">Logout
            </a>
        </li>
    </ul>
</li>


<!-- for logged users // training pages-->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Trainings
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'add training' %}">Add Training</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'details training' pk=request.user.pk %}">Training
                details</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'edit training' pk=request.user.pk %}">Edit
                Training
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'delete training' pk=request.user.pk %}">Delete
                Training
            </a>
        </li>
    </ul>
</li>
{% else %}
    {% include 'core/default_navbar.html' %}
{% endif %}