{#{{ object.service_name }}#}

{% extends 'base.html' %}
{% load forms %}
{% load static %}
{% block content %}

    <main class="my-5">
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-9 mb-4">
                    <!--Section: Content-->
                    <section>
                        {% for lector in object_list %}
                            <!-- Post -->
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="bg-image hover-overlay shadow-1-strong rounded ripple"
                                         data-mdb-ripple-color="light">
                                        <img src="{{ lector.lector_image }}"
                                             class="img-fluid" alt="{{ lector.first_name }}"/>
                                        <a href="#!">
                                            <div class="mask"
                                                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-8 mb-4">
                                    <h5>{{ lector.first_name }} {{ lector.last_name }}</h5>
                                    <p>
                                        {{ lector.biography }}
                                    </p>


                                </div>
                                <button type="button" class="btn btn-primary">
                                    <a class="edit-lector-button"
                                       href="{% url 'details lector' pk=lector.pk %}"
                                       style="text-decoration: white;
                                           color: inherit;"></a>
                                    Details
                                </button>
                            </div>


                        {% endfor %}

                        <!--Section: Video-->
                    </section>
                    <!--Section: Sidebar-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <!-- Pagination -->
            <nav class="my-4" aria-label="...">
                <ul class="pagination pagination-circle justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>

{% endblock %}