{#{{ object.service_name }}#}

{% extends 'base.html' %}
{% load forms %}
{% load static %}
{% block content %}
    {##}
    {#    <main class="my-5">#}
    {#        <div class="container card">#}
    {#            <!--Grid row-->#}
    {#            <div class="row">#}
    {#                <!--Grid column-->#}
    {#                <div class="col-md-9 mb-4">#}
    {#                    <!--Section: Content-->#}
    {#                    <section>#}
    {#                        <div class="row align-items-center ">#}
    {#                            <div class="col-md-4 mb-4 ">#}
    {#                                <div class="container text-center "#}
    {#                                     data-mdb-ripple-color="light">#}
    {#                                    <img src="{{ lector.lector_image }}"#}
    {#                                         style="padding-top: 10%; "#}
    {#                                         class="rounded-image" alt="{{ lector.first_name }}"/>#}
    {#                                    <a href="#!">#}
    {#                                        <div class="mask"#}
    {#                                             style="background-color: rgba(251, 251, 251, 0.15);"></div>#}
    {#                                    </a>#}
    {#                                </div>#}
    {#                                <div class="col-md-8 mb-4">#}
    {#                                    <h4>{{ lector.full_name }}</h4>#}
    {#                                    <p>#}
    {#                                        {{ lector.biography }}#}
    {#                                    </p>#}
    {#                                    <p>#}
    {#                                        <strong>Available trainings: </strong>#}
    {#                                    {{ available_trainings }}#}
    {#                                        {% for training in available_trainings %}#}
    {#                                            <ul>#}
    {#                                                <li>#}
    {#                                                    {{ training }}#}
    {#                                                </li>#}
    {#                                            </ul>#}
    {#                                        {% endfor %}#}
    {#                                    </p>#}
    {##}
    {#                                    {% if user.is_staff %}#}
    {#                                        <!-- Delete Profile Button -->#}
    {#                                        <a href="{% url 'delete lector' slug=object.slug %}"#}
    {#                                           class="btn btn-danger">Delete</a>#}
    {##}
    {#                                        <!-- Edit Profile Button -->#}
    {#                                        <a href="{% url 'edit lector' slug=object.slug %}"#}
    {#                                           class="btn btn-primary">Edit</a>#}
    {#                                    {% endif %}#}
    {#                                </div>#}
    {#                            </div>#}
    {##}
    {##}
    {#                        </div>#}
    {#                    </section>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </main>#}



    <!--Main layout-->
    <main class="my-5">
        <div class="container">
            <main class="my-5">
                <div class="container">
                    <!--Section: Content-->
                    <section class="text-center">
                        <div class="row">
                            <!-- First Column - Display elements at even indexes -->
                            {#                            <div class="col-lg-6 mb-4" style="padding: 5%">#}
                            <div class="col-3 p-3 mb-2" style="padding: 5%">
                                <div class="card">
                                    <div class="bg-image hover-overlay ripple"
                                         data-mdb-ripple-color="light">
                                        <img src="{{ lector.lector_image }}" class="img-fluid"/>
                                        <a href="#!">
                                            <div class="mask"
                                                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ lector.full_name }}</h5>
                                        <p class="card-text">
                                            {#                                                    {{ training.service_description }}#}
                                        </p>
                                        {#                                        <a href="#!" class="btn btn-primary">Read</a>#}
                                    </div>
                                </div>
                                <p></p>

                            </div>

                            <!-- Second Column - Display elements at odd indexes -->
                            {#                            <div class="col-lg-6 mb-4"#}
                            <div class="col-sm-9 p-3"
                                 style="padding: 5%"
                            >
                                <div class="card">
                                    <div class="bg-image hover-overlay ripple"
                                         data-mdb-ripple-color="light">
                                        <img src="{{ training.service_image }}" class="img-fluid"/>
                                        <a href="#!">
                                            <div class="mask"
                                                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                    <div class="card-body" style="text-align: left">
                                        <h5 class="card-title">Bio: </h5>
                                        <p class="card-text">{{ lector.biography }}
                                        <p>
                                            <strong>Available trainings: </strong>
                                            {% for training in available_trainings %}
                                                <ul>
                                                    <li>
                                                        {{ training }}
                                                    </li>
                                                </ul>
                                            {% endfor %}

                                    </div>
                                </div>
                                <p></p>
                                {% if user.is_staff %}
                                    <!-- Delete Profile Button -->
                                    <a href="{% url 'delete lector' slug=object.slug %}"
                                       class="btn btn-danger">Delete</a>

                                    <!-- Edit Profile Button -->
                                    <a href="{% url 'edit lector' slug=object.slug %}"
                                       class="btn btn-primary">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </main>
    <div class="text-center py-4 align-items-center">
    </div>


{% endblock %}