{% extends 'base.html' %}
{% load forms %}
{% load static %}
{% block content %}

    <main class="my-5">
        <div class="container">
            <div id="intro" class="p-5 text-center bg-light">
                <h1 class="mb-3 h2">Streamline Your Corporate Training Bookings with Ease</h1>
                <p class="mb-3">Effortlessly schedule and manage soft skills training for your
                    employees with our
                    intuitive
                    booking system. Empower your workforce with valuable professional development
                    opportunities.</p>
                <p>&nbsp;
                <hr/>
                </p>

                <p>&nbsp;</p>
                {% for lector in lector_list %}
                    <!-- Post -->
                    <div class="row" style="text-align: left;">
                        <div class="col-md-4 mb-4">
                            <div class="bg-image hover-overlay shadow-1-strong rounded ripple"
                                 data-mdb-ripple-color="light">
                                <img src="{{ lector.lector_image }}"
                                     class="img-fluid" alt="{{ lector.full_name }}"/>
                                <a href="#!">
                                    {#                                            TODO hrfe above - needed or not #}
                                    <div class="mask"
                                         style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 mb-4">
                            <h5>{{ lector.full_name }}</h5>
                            <p>
                                {{ lector.biography }}
                            </p>
                            {% if user.is_authenticated %}
                                <a href="{% url 'details lector' slug=lector.slug %}"
                                   style="text-decoration: white; color: deepskyblue;">
                                    Details
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <p>&nbsp;
                    <hr/>&nbsp;</p>
                {% endfor %}

                <!-- Pagination -->
                {% include 'core/pagination.html' %}
            </div>
        </div>
    </main>

{% endblock %}
