{% load forms %}
{% load static %}
{% load export_tags %}

<main style="padding: 5%">

    {% if not past_bookings and not future_bookings %}
        <h3
                style="text-align: center; color: deepskyblue">
            LECTOR {{ profile.first_name }} HAS NO SCHEDULED BOOKINGS YET:
        </h3>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% if future_bookings %}
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover
                             table-striped">
                                        <h3
                                                style="text-align: center; color: deepskyblue">
                                            SCHEDULED BOOKINGS WITH {{ profile.full_name }} AS A LECTOR:
                                        </h3>
                                        <hr>
                                        <thead>
                                        <tr>
                                            <th scope="col" style="background-color: white">TRAINING</th>
                                            <th scope="col" style="background-color: white">SCHEDULED FOR</th>
                                            <th scope="col" style="background-color: white">MODE</th>
                                            <th scope="col" style="background-color: white">EMPLOYEE</th>
                                            <th scope="col" style="background-color: white">EMPLOYEE EMAIL</th>
                                            <th scope="col" style="background-color: white">Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for booking in future_bookings %}
                                            <tr>
                                                <td>{{ booking.booking_type }}</td>
                                                <td>{{ booking.start_date }} : {{ booking.start_time }}</td>
                                                <td>{{ booking.training_mode }}</td>
                                                <td>{{ booking.user_full_name }}</td>
                                                <td>{{ booking.corporate_email }}</td>
                                                <td style="color: gray">
                                                    <a class="details-booking-button"
                                                       href="{% url 'details booking' pk=booking.pk %}">
                                                        <img src="{% static '/images/eye.png' %}"
                                                             style="width: 25px; text-align:center; display:block;"
                                                             alt="edit-booking">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- Add pagination for future bookings here -->
{#                                    {% include 'core/pagination.html' with page_obj=future_bookings %}#}
                                </div>
                            </div>
                        {% endif %}

                        <p> &nbsp;</p>
                        {% if past_bookings %}
                            <table class="table table-hover table-secondary">
                                <h3
                                        style="text-align: left; color: gray">
                                    PAST BOOKINGS WITH {{ profile.full_name }} AS A LECTOR:
                                </h3>
                                <thead>
                                <tr>
                                    <th scope="col" style="background-color: white">TRAINING</th>
                                    <th scope="col" style="background-color: white">SCHEDULED FOR</th>
                                    <th scope="col" style="background-color: white">MODE</th>
                                    <th scope="col" style="background-color: white">EMPLOYEE</th>
                                    <th scope="col" style="background-color: white">EMPLOYEE EMAIL</th>

                                    <th scope="col" style="background-color: white">Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in past_bookings %}
                                    <tr>
                                        <td style="color: gray">{{ booking.booking_type }}</td>
                                        <td style="color: gray">{{ booking.start_date }}
                                            : {{ booking.start_time }}</td>
                                        <td style="color: gray">{{ booking.training_mode }}</td>
                                        <td style="color: gray">{{ booking.user_full_name }}</td>
                                        <td style="color: gray">{{ booking.corporate_email }}</td>
                                        <td style="color: gray">
                                            <a class="details-booking-button"
                                               href="{% url 'details booking' pk=booking.pk %}">
                                                <img src="{% static '/images/eye.png' %}"
                                                     style="width: 25px; text-align:center; display:block;"
                                                     alt="edit-booking">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            <a class="csv-exporting-button"
                                   href="{% export_csv_link %}">
                                    <img src="{% static '/images/csv.png' %}"
                                         style="width: 35px; text-align:left; "
                                         alt="csv-exporting"> export to .csv
                                </a>
                            </table>
                            <!-- Add pagination for past bookings here -->
                            {% include 'core/pagination.html' with page_obj=past_bookings %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
</main>