{% extends 'base.html' %}
{% load forms %}
{% load static %}
{#TODO it will crush if the use dont have any bookings#}

{% block content %}
    <main style="padding: 5%">

    {% if not past_bookings and not future_bookings %}
        <h3
                style="text-align: center; color: deepskyblue">
            {{ profile.first_name }} HAS NO BOOKINGS SCHEDULED BOOKINGS YET:
        </h3>
    {% else %}
        <section class="my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% if future_bookings %}
                            <div>
                            <div class="table-responsive">
                            <table class="table table-hover
                             table-striped">
                                <h3
                                        style="text-align: center; color: deepskyblue">
                                    SCHEDULED BOOKINGS:
                                </h3>
                                <hr>
                                <thead>
                                <tr>
                                    <th scope="col" style="background-color: white">TRAINING</th>
                                    <th scope="col" style="background-color: white">SCHEDULED FOR</th>
                                    <th scope="col" style="background-color: white">EMPLOYEE NAMES</th>
                                    <th scope="col" style="background-color: white">LECTOR</th>
                                    <th scope="col" style="background-color: white">MODE</th>
                                    <th scope="col" style="background-color: white">Details</th>
                                    <th scope="col" style="background-color: white">Edit</th>
                                    <th scope="col" style="background-color: white">Cancel</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in future_bookings %}
                                    <tr>
                                        <td>{{ booking.booking_type }}</td>
                                        <td>{{ booking.start_date }} : {{ booking.start_time }}</td>
                                        <td>{{ profile.full_name|capfirst }}</td>
                                        <td>{{ booking.lector }}</td>
                                        <td>{{ booking.training_mode }}</td>
                                        <td>
                                            <a class="details-booking-button"
                                               href="{% url 'details booking' pk=booking.pk %}">
                                                <img src="{% static '/images/eye.png' %}"
                                                     style="width: 25px; margin:auto; text-align:center; display:block;"
                                                     alt="edit-booking">
                                            </a>
                                        </td>
                                        <td>
                                            <a class="edit-booking-button"
                                               href="{% url 'edit booking' pk=booking.pk %}">
                                                <img src="{% static '/images/edit-icon.png' %}"
                                                     style="width: 20px; margin:auto; text-align:center; display:block;"
                                                     alt="edit-booking">
                                            </a>
                                        </td>
                                        <td>
                                            <a class="delete-booking-button"
                                               href="{% url 'delete booking' pk=booking.pk %}">
                                                <img src="{% static 'images/delete-booking-icon.png' %}"
                                                     style="width: 20px; margin:auto; text-align:center; display:block;"
                                                     alt="delete-booking">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        <p> &nbsp;</p>
                        {% if past_bookings %}
                            <table class="table table-hover table-secondary">
                                <h3
                                        style="text-align: center; color: gray">
                                    PAST BOOKINGS:
                                </h3>
                                <thead>
                                <tr>
                                    <th scope="col" style="background-color: white">TRAINING</th>
                                    <th scope="col" style="background-color: white">SCHEDULED FOR</th>
                                    <th scope="col" style="background-color: white">EMPLOYEE NAMES</th>
                                    <th scope="col" style="background-color: white">LECTOR</th>
                                    <th scope="col" style="background-color: white">MODE</th>
                                    <th scope="col" style="background-color: white">Details</th>
                                    <th scope="col" style="background-color: white">Edit</th>
                                    <th scope="col" style="background-color: white">Cancel</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in past_bookings %}
                                    <tr>
                                        <td style="color: gray">{{ booking.booking_type }}</td>
                                        <td style="color: gray">{{ booking.start_date }} : {{ booking.start_time }}</td>
                                        <td style="color: gray">{{ profile.first_name|capfirst }} {{ profile.last_name|capfirst }}</td>
                                        <td style="color: gray">{{ booking.lector }}</td>
                                        <td style="color: gray">{{ booking.training_mode }}</td>
                                        <td style="color: gray">
                                            <a class="details-booking-button"
                                               href="{% url 'details booking' pk=booking.pk %}">
                                                <img src="{% static '/images/eye.png' %}"
                                                     style="width: 25px; margin:auto; text-align:center; display:block;"
                                                     alt="edit-booking">
                                            </a>
                                        </td>
                                        <td>
                                            <a class="edit-booking-button"
                                               href="#">
                                                <img src="{% static 'images/na.png' %}"
                                                     style="width: 20px; margin:auto; text-align:center; display:block;"
                                                     alt="edit-booking">
                                            </a>
                                        </td>
                                        <td>
                                            <a class="delete-booking-button"
                                               href="#">
                                                <img src="{% static 'images/na.png' %}"
                                                     style="width: 20px; margin:auto; text-align:center; display:block;"
                                                     alt="delete-booking">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% include 'core/pagination.html' %}
        </section>
{#        {% include 'core/pagination.html' %}#}
    {% endif %}
    </main>
{% endblock %}