{% extends 'base.html' %}
{% load forms %}
{% load static %}
{% block content %}
    <ul>
        {% for user in object_list %}
            <li>
                {{ user }}
            </li>
        {% endfor %}
    </ul>
    <body>
    <section>
        {% if user.is_authenticated %}
            <h1>Welcome, {{ user.email }}!</h1>
        {% else %}
            <h1>Welcome to Our Website!</h1>
            <p>Sign in or create an account to get started.</p>
            <a href="#">Login</a> | <a href="#">Register</a>
        {% endif %}
    </section>

    <section>
        {% for booking in booking_list %}
            <div>
                {{ booking.service_name }}
            </div>
            <div>
                {{ booking.service_description }}
            </div>
            <div>
                <img src="{{ booking.service_image }}" alt="{{ booking.service_name }}">
            </div>

        {% endfor %}
    </section>
    <!-- Add the rest of your HTML content here -->
    </body>

    <div class="container">
        {{ form.as_ul }}
        {% for booking in booking_list %}
            {{ booking.employee.as_table }}
            {{ booking.start_date.as_table }}
            {{ booking.start_time.as_table }}
            <div class="row">
                {{ booking.employee }}
                {{ booking.start_date }}
                {{ booking.start_time }}
                <div class="col-sm-6">
                    <p>This is the left column.</p>
                    {{ booking.employee }}
                    {{ booking.start_date }}
                    {{ booking.start_time }}
                </div>
                <div class="col-sm-6">
                    <p>This is the right column.</p>
                    {{ booking.service_name }}
                    {{ booking.service_description }}
                    {{ booking.service_image }}
                </div>
            </div>
        {% endfor %}
    </div>

    <!--Main Navigation-->
    <header>
        <!-- Intro settings -->
        <style>
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 58px;
            }

            @media (max-width: 991px) {
                #intro {
                    /* Margin to fix overlapping fixed navbar */
                    margin-top: 45px;
                }
            }
        </style>

        {#        <!-- Navbar -->#}
        {#        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">#}
        {#            <div class="container-fluid">#}
        {#                <!-- Navbar brand -->#}
        {#                <a class="navbar-brand" target="_blank" href="https://mdbootstrap.com/docs/standard/">#}
        {#                    <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="16" alt=""#}
        {#                         loading="lazy"#}
        {#                         style="margin-top: -3px;"/>#}
        {#                </a>#}
        {#                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"#}
        {#                        data-mdb-target="#navbarExample01"#}
        {#                        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">#}
        {#                    <i class="fas fa-bars"></i>#}
        {#                </button>#}
        {#                <div class="collapse navbar-collapse" id="navbarExample01">#}
        {#                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
        {#                        <li class="nav-item active">#}
        {#                            <a class="nav-link" aria-current="page" href="#intro">Home</a>#}
        {#                        </li>#}
        {#                        <li class="nav-item">#}
        {#                            <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"#}
        {#                               rel="nofollow"#}
        {#                               target="_blank">Learn Bootstrap 5</a>#}
        {#                        </li>#}
        {#                        <li class="nav-item">#}
        {#                            <a class="nav-link" href="https://mdbootstrap.com/docs/standard/" target="_blank">Download#}
        {#                                MDB UI KIT</a>#}
        {#                        </li>#}
        {#                    </ul>#}
        {##}
        {#                    <ul class="navbar-nav d-flex flex-row">#}
        {#                        <!-- Icons -->#}
        {#                        <li class="nav-item me-3 me-lg-0">#}
        {#                            <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"#}
        {#                               rel="nofollow"#}
        {#                               target="_blank">#}
        {#                                <i class="fab fa-youtube"></i>#}
        {#                            </a>#}
        {#                        </li>#}
        {#                        <li class="nav-item me-3 me-lg-0">#}
        {#                            <a class="nav-link" href="https://www.facebook.com/mdbootstrap" rel="nofollow"#}
        {#                               target="_blank">#}
        {#                                <i class="fab fa-facebook-f"></i>#}
        {#                            </a>#}
        {#                        </li>#}
        {#                        <li class="nav-item me-3 me-lg-0">#}
        {#                            <a class="nav-link" href="https://twitter.com/MDBootstrap" rel="nofollow" target="_blank">#}
        {#                                <i class="fab fa-twitter"></i>#}
        {#                            </a>#}
        {#                        </li>#}
        {#                        <li class="nav-item me-3 me-lg-0">#}
        {#                            <a class="nav-link" href="https://github.com/mdbootstrap/mdb-ui-kit" rel="nofollow"#}
        {#                               target="_blank">#}
        {#                                <i class="fab fa-github"></i>#}
        {#                            </a>#}
        {#                        </li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </nav>#}
        {#        <!-- Navbar -->#}

        <!-- Jumbotron -->
        <div id="intro" class="p-5 text-center bg-light">
            <h1 class="mb-3 h2">Streamline Your Corporate Training Bookings with Ease</h1>
            <p class="mb-3">Effortlessly schedule and manage soft skills training for your employees with our intuitive
                booking system. Empower your workforce with valuable professional development opportunities.</p>
            <a class="btn btn-primary m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
               rel="nofollow"
               target="_blank">Start tutorial</a>
            <a class="btn btn-primary m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
               role="button">See our Lectors</a>
        </div>
        <!-- Jumbotron -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="my-5">
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-9 mb-4">
                    <!--Section: Content-->
                    <section>
                        {% for training in training_list %}
                            <!-- Post -->
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="bg-image hover-overlay shadow-1-strong rounded ripple"
                                         data-mdb-ripple-color="light">
                                        {#                                    <img src="{{ training.service_image }}https://mdbootstrap.com/img/new/standard/nature/184.jpg"#}
                                        <img src="{{ training.service_image }}"
                                             class="img-fluid" alt="{{ training.service_name }}"/>
                                        <a href="#!">
{#                                            TODO hrfe above - needed or not #}
                                            <div class="mask"
                                                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-8 mb-4">
                                    <h5>{{ training.service_name }}</h5>
                                    <p>
                                        {{ training.service_description }}
                                    </p>

                                    <button type="button" class="btn btn-primary">
                                        <a class="edit-booking-button"
                                           href="{% url 'details training' pk=training.pk %}"
{#                                           href="{% url 'details training' %}"#}
                                           style="text-decoration: white;
                                           color: inherit;"></a>
                                        Read
                                    </button>
                                </div>
                            </div>
{##}
{#                            <!-- Post -->#}
                            {#                        <div class="row">#}
                            {#                            <div class="col-md-4 mb-4">#}
                            {#                                <div class="bg-image hover-overlay shadow-1-strong rounded ripple"#}
                            {#                                     data-mdb-ripple-color="light">#}
                            {#                                    <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg"#}
                            {#                                         class="img-fluid"/>#}
                            {#                                    <a href="#!">#}
                            {#                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>#}
                            {#                                    </a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {##}
                            {#                            <div class="col-md-8 mb-4">#}
                            {#                                <h5>Very long post title</h5>#}
                            {#                                <p>#}
                            {#                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione#}
                            {#                                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam#}
                            {#                                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos#}
                            {#                                    magni.#}
                            {#                                </p>#}
                            {##}
                            {#                                <button type="button" class="btn btn-primary">Read</button>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {##}
                            {#                        <!-- Post -->#}
                            {#                        <div class="row">#}
                            {#                            <div class="col-md-4 mb-4">#}
                            {#                                <div class="bg-image hover-overlay shadow-1-strong rounded ripple"#}
                            {#                                     data-mdb-ripple-color="light">#}
                            {#                                    <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"#}
                            {#                                         class="img-fluid"/>#}
                            {#                                    <a href="#!">#}
                            {#                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>#}
                            {#                                    </a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {##}
                            {#                            <div class="col-md-8 mb-4">#}
                            {#                                <h5>Very long post title</h5>#}
                            {#                                <p>#}
                            {#                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione#}
                            {#                                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam#}
                            {#                                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos#}
                            {#                                    magni.#}
                            {#                                </p>#}
                            {##}
                            {#                                <button type="button" class="btn btn-primary">Read</button>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {##}
                            {#                        <!-- Post -->#}
                            {#                        <div class="row">#}
                            {#                            <div class="col-md-4 mb-4">#}
                            {#                                <div class="bg-image hover-overlay shadow-1-strong rounded ripple"#}
                            {#                                     data-mdb-ripple-color="light">#}
                            {#                                    <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"#}
                            {#                                         class="img-fluid"/>#}
                            {#                                    <a href="#!">#}
                            {#                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>#}
                            {#                                    </a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {##}
                            {#                            <div class="col-md-8 mb-4">#}
                            {#                                <h5>Very long post title</h5>#}
                            {#                                <p>#}
                            {#                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ratione#}
                            {#                                    necessitatibus itaque error alias repellendus nemo reiciendis aperiam quisquam#}
                            {#                                    minus ipsam reprehenderit commodi ducimus, in dicta aliquam eveniet dignissimos#}
                            {#                                    magni.#}
                            {#                                </p>#}
                            {##}
                            {#                                <button type="button" class="btn btn-primary">Read</button>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        {% endfor %}
{#                    </section>#}
{#                    <!--Section: Content-->#}
{#                </div>#}
{#                <!--Grid column-->#}
{##}
{#                <!--Grid column-->#}
{#                <div class="col-md-3 mb-4">#}
{#                    <!--Section: Sidebar-->#}
{#                    <section class="sticky-top" style="top: 80px;">#}
{#                        <!--Section: Ad-->#}
{#                        <section class="text-center border-bottom pb-4 mb-4">#}
{#                            <div class="bg-image hover-overlay ripple mb-4">#}
{#                                <img#}
{#                                        src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp"#}
{#                                        class="img-fluid"/>#}
{#                                <a href="https://mdbootstrap.com/docs/standard/" target="_blank">#}
{#                                    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>#}
{#                                </a>#}
{#                            </div>#}
{#                            <h5>Material Design for Bootstrap 5</h5>#}
{##}
{#                            <p>#}
{#                                500+ components, free templates, 1-min installation, extensive tutorial, huge#}
{#                                community. MIT license - free for personal & commercial use#}
{#                            </p>#}
{#                            <a role="button" class="btn btn-primary" href="https://mdbootstrap.com/docs/standard/"#}
{#                               target="_blank">Download for free<i class="fas fa-download ms-2"></i></a>#}
{#                        </section>#}
{#                        <!--Section: Ad-->#}
{##}
{#                        <!--Section: Video-->#}
{#                        <section class="text-center">#}
{#                            <h5 class="mb-4">Learn the newest Bootstrap 5</h5>#}
{##}
{#                            <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">#}
{#                                <iframe class="embed-responsive-item rounded"#}
{#                                        src="https://www.youtube.com/embed/c9B4TPnak1A"#}
{#                                        allowfullscreen></iframe>#}
{#                            </div>#}
{#                        </section>#}
                        <!--Section: Video-->
                    </section>
                    <!--Section: Sidebar-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

            <!-- Pagination -->
            <nav class="my-4" aria-label="...">
                <ul class="pagination pagination-circle justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
    <!--Main layout-->

    {#    <!--Footer-->#}
    {#    <footer class="bg-light text-lg-start">#}
    {#        <div class="py-4 text-center">#}
    {#            <a role="button" class="btn btn-primary btn-lg m-2"#}
    {#               href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow" target="_blank">#}
    {#                Learn Bootstrap 5#}
    {#            </a>#}
    {#            <a role="button" class="btn btn-primary btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"#}
    {#               target="_blank">#}
    {#                Download MDB UI KIT#}
    {#            </a>#}
    {#        </div>#}

    {#        <hr class="m-0"/>#}

    <div class="text-center py-4 align-items-center">
        {#            HERE I CAN ADD some centred items#}
    </div>

{#    <!-- Copyright -->#}
{#    <div class="text-center p-3" style="background-color: white;">#}
{#        © 2023 Copyright:#}
{#        <a class="text-dark" href="https://github.com/maon0002">Maon group</a>#}
{#    </div>#}
{#    <!-- Copyright -->#}
{#    </footer>#}
{#    <!--Footer-->#}

{% endblock %}