{% extends 'base.html' %}
{% load forms %}
{% load static %}

{% block content %}
<main>
    <!-- Carousel -->
    <section id="home-carousel">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-img" style="background-image: url('{% static 'images/slide1.jpg' %}');"></div>
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="caption-content">
                            <h3>Welcome to Our Training Platform</h3>
                            <p>Effortlessly schedule and manage soft skills training for your employees with our
                                intuitive booking system.</p>
                            <a href="{% url 'trainings' %}" class="btn btn-primary m-1" role="button">See our Trainings</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img" style="background-image: url('{% static 'images/slide2.webp' %}');"></div>
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="caption-content">
                            <h3>Empower Your Workforce</h3>
                            <p>Empower your workforce with valuable professional development opportunities.</p>
                            <a href="{% url 'lectors' %}" class="btn btn-primary m-1" role="button">See our Lectors</a>
                        </div>
                    </div>
                </div>
                <!-- Add more carousel items as needed -->
            </div>
            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <!-- Intro settings -->
    <style>
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
        }

        @media (max-width: 991px) {
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 45px;
            }
        }

        .carousel-img {
            height: 700px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .carousel-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
        }

        .caption-content {
            text-align: center;
        }
    </style>

</main>

{% endblock %}
