{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main style="padding: 2%">
        <section class="text-center text-lg-start" id="delete"><p>
            <h1 style="
            color: crimson;
            display: inline-block;
                ">Are you sure you want to delete Profile:</h1>
            <h1 style="
            color: #007bff;
            display: inline-block;"> &nbsp;{{ user.email }}</h1>
            <h1 style="
            color: crimson;
            display: inline-block;">?</h1>
            </p>
            <div class="container"
                 style="
                         {#display: flex;#}
                         justify-content: center;
                         align-items: center;
                         height: 50vh;">

                <p>&nbsp;</p>
                <!-- Delete Profile Form -->
                <form class="delete-form" action="{% url 'delete profile' pk=user.pk %}" method="post">
                    <!-- Confirm Button -->
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="col-md-4">
                        <div>
{#                            <h3>{{ profile.first_name|capfirst }} {{ profile.last_name|capfirst }}</h3>#}
                            <h3>{{ object.first_name|capfirst }} {{ object.last_name|capfirst }}</h3>
                        </div>

                        <img src="{{ object.picture }}" class="w-50 rounded-4 shadow-4"
                             alt="{{ object.first_name }} {{ object.last_name }}image"/>
                        <p></p>
                    </div>

                    <button class="btn btn-primary btn-block mb-4 btn btn-danger" type="submit">
                        Delete Profile
                    </button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

