{% extends 'base.html' %}
{#{% load custom_tags %}#}
{% load static %}
{#{% load forms %}#}
{#{% load widget_tweaks %}#}

{% block content %}

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>


    <section class="text-center text-lg-start">
        <style>
            .cascading-right {
                margin-right: -50px;
            }

            @media (max-width: 992px) {
                .cascading-right {
                    margin-right: 0;
                }
            }
        </style>
        <!-- Jumbotron -->
        <div class="container py-4" style="
                {#display: flex;#}
                justify-content: center;
                align-items: center;
                height: 100vh;">

            <div class="row g-0 align-items-center" style="padding-top: 5%">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                        <div class="card-body p-5 shadow-5 text-center">

                            <h2 class="fw-bold mb-5">Edit Profile</h2>
                            <link rel="stylesheet" href="{% static '/css/styles.css' %}"/>
                            <img class="rounded-image"
                                 src="{{ object.picture }}"
                                 alt="Profile Picture"
                                 style="
                                 width: 50%;
                                 height: 40%;
                                    ">

                            <form action="{% url 'edit profile' pk=user.pk %}" method="post">

                                <input type="hidden" value="{{ next }}" name="next"/>

                                {% csrf_token %}

                                <div class="form-outline mb-4" style="text-align: left;">
                                    {% include 'common/bs4_form.html' with form=form %}

                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Save
                                </button>
                                <!-- Cancel button -->
                                <button type="button" class="btn btn-primary btn-block mb-4" id="cancelButton">
                                    Cancel
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Add event listener to the Cancel button
        document.getElementById('cancelButton').addEventListener('click', function () {
            // Navigate to the dashboard page when the Cancel button is clicked
            window.location.href = "{% url 'details profile' pk=object.pk %}";
        });

        // Add event listener to the form submission
        document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission behavior

            // Submit the form using JavaScript
            this.submit();
        });
    </script>

{% endblock %}